export(yarr)
export(escape_HTML)
export(default_delim)
export(default_handlers)
export(capture_handler)
export(silent_handler)
export(result_handler)
export(html_capture_handler)
export(html_result_handler)
